Host http01
  HostName 192.168.12.211
  User ubuntu
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/amar/vm_http01/.vagrant/machines/http01/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host http02
  HostName 192.168.12.212
  User ubuntu
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/amar/vm_http01/.vagrant/machines/http02/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

